.__burger_icon {
    --color: #1E88E5;
    display: none;
    font-size: 1.5em;
    width: 32px;
    height: 32px;
    overflow: hidden;
    z-index: 10;
    
    @media (max-width: 900px) {
        display: block;
    }

    span {
      display: block;
      position: relative;
      width: 32px;
      height: 3px;
      left: 0;
      background-color: var(--color);
      transition: all .2s ease;
    }
  
    span:nth-child(1) {
      position: relative;
      top: 5px;
    }
  
    span:nth-child(2) {
      position: relative;
      top: 11px;
    }
  
    span:nth-child(3) {
      position: relative;
      top: 17px;
    }
  
    &.open {
        span {
            --color: #fff;
        }
      span:nth-child(1) {
        position: relative;
        top: 0.45em;
        transform: rotate(45deg);
      }
  
      span:nth-child(2) {
        position: relative;
        transform: translate(-2em);
      }
      
      span:nth-child(3) {
        position: relative;
        top: 0.25em;
        transform: rotate(-45deg);
      }
    }
  }

  .header-icon {
    &.open path{
        fill: #fff;
        }
    }
    
  .__extra_buttons {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1E88E5;
    z-index: 0;
    gap: 1.75rem;
    align-items: end;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    color: #F5F7FA;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    max-width: 100%;
    height: 100%;
    justify-content: start;

    &.open {
        visibility: visible;
        opacity: 1;
    }
  }