@import "reset";
@import "typography";
@import "burger";


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter";
}
html {
    background-color: #F8F9FA;
}
main {
display: flex;
flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1428px;
    margin: 0 auto;
    padding: 0 1.5em;
    /* overflow: hidden; */
}

@media (min-width: 600px) {
    .wrapper {
        padding: 0 4vw;
    }
}
@media (min-width: 1900px){
    .wrapper {
        padding: 0 4em;
    }
}




header {
    margin-top: 20px;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        transition: .3s;
    }
    &__logo:hover {
        scale: 1.05;
    }

    &__card {
        border-radius: 30px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        max-width: 530px;
        
        @media (max-width: 900px) {
            display: none;
        }
    }

    &__rating {
        border-radius: 30px;
        padding: 8px 24px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 140%;
        border: 1px solid #fff;
        transition: .3s;
    }

    &__rating:hover  {
        background-color: #F0F4F9;
        border: 1px solid #1E88E5;
    }

    &__about {
        border-radius: 30px;
        padding: 8px 24px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 140%;
        border: 1px solid #fff;
        transition: .3s;
    }

    &__about:hover  {
        background-color: #F0F4F9;
        border: 1px solid #1E88E5;
    }
    
    &__notifications {
        border-radius: 30px;
        padding: 8px 24px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 140%;
        border: 1px solid #fff;
        transition: .3s;
    }

    &__notifications:hover  {
        background-color: #F0F4F9;
        border: 1px solid #1E88E5;
    }

    &__profile {
        border-radius: 30px;
        padding: 8px 24px;
        background-color: #FFF;
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 140%;
        border: 1px solid #fff;
        transition: .3s;
    }

    &__profile:hover  {
        background-color: #F0F4F9;
        border: 1px solid #1E88E5;
    }
}

footer {
    background-color: #212121;
    padding: 64px 0;

    @media (max-width: 900px) {
        padding: 48px 0;

    }
}

.footer-content {
    &__buttons {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            justify-content: space-between;
            gap: 10px;
        }

    }
    &__link{
        color: #F6F6F6;
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 30px;
        border: 2px solid #FFF;
        padding: 8px 24px;
        transition: .3s;
    }
    &__link svg path{
        transition: .3s;
    }

    &__link:hover{
        background-color: #FFF;
        color: #212121;
        
    }

    &__link:hover svg path{
        fill: black;
    }
    
}

.questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F6F6F6;
    margin-bottom: 40px;
    transition: .3s;
    
    @media (max-width: 900px) {
        flex-direction: column;
        align-items: start;
        gap: 12px;
        margin-bottom: 20px;
    }

    &__mail {
        display: flex;
        gap: 7px;
    }
    a {
        font-weight: 700;
        color: #F6F6F6;
    }

    a:hover {
        text-decoration: underline;
    }
}

.footer-botom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F6F6F6;
    margin-top: 30px;
    &__name {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
.main {

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 60px 0 30px 0;
    gap: 20px;

    @media (max-width: 900px) {
        flex-direction: column;
    }

    

    &__content {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        
    }

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        color: #1E88E5;
        margin-bottom: 20px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        
        }
    }

    &__text {
        margin-bottom: auto;
        max-width: 640px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        color: #1E88E5;
        transition: .3s;

        @media (max-width: 900px) {
            display: none;
        }
    }

    &__link svg {
        transition: .3s;
    }

    &__link:hover svg {
        transform: translateY(-5px);
    }

    &__img {
        aspect-ratio: 304/284;
        max-width: 304px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 900px) {
            display: none;
        }
    }
}

.mob {
    display: none;

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        color: #1E88E5;
        white-space: nowrap;
        transition: .3s;

    }

    &__img {
        aspect-ratio: 304/284;
        max-width: 304px;
        width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    
    @media (max-width: 900px) {
        display: flex;
        gap: 1rem;
        align-items: end;
        justify-content: space-between;
    }
}