/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@layer reset, typography, base, components, utilities;
@layer typography {
  body * {
    font-family: roboto, sans-serif;
  }
  .fw-100 {
    font-weight: 100;
  }
  .fw-200 {
    font-weight: 200;
  }
  .fw-300 {
    font-weight: 300;
  }
  .fw-400 {
    font-weight: 400;
  }
  .fw-500 {
    font-weight: 500;
  }
  .fw-600 {
    font-weight: 600;
  }
  .fw-700 {
    font-weight: 700;
  }
  .fw-800 {
    font-weight: 800;
  }
  .fw-900 {
    font-weight: 900;
  }
  .fs-100 {
    font-size: min(64px + 36 * (100vw - 375px) / 1545, 100px);
  }
  .fs-96 {
    font-size: min(48px + 48 * (100vw - 375px) / 1545, 96px);
  }
  .fs-64 {
    font-size: min(32px + 32 * (100vw - 375px) / 1545, 64px);
  }
  .fs-48 {
    font-size: min(24px + 24 * (100vw - 375px) / 1545, 48px);
  }
  .fs-40 {
    font-size: min(22px + 18 * (100vw - 375px) / 1545, 40px);
  }
  .fs-32 {
    font-size: min(20px + 12 * (100vw - 375px) / 1545, 32px);
  }
  .fs-30 {
    font-size: min(20px + 10 * (100vw - 375px) / 1545, 30px);
  }
  .fs-28 {
    font-size: min(18px + 10 * (100vw - 375px) / 1545, 28px);
  }
  .fs-24 {
    font-size: min(16px + 8 * (100vw - 375px) / 1545, 24px);
  }
  .fs-20 {
    font-size: min(14px + 6 * (100vw - 375px) / 1545, 20px);
  }
  .fs-18 {
    font-size: min(14px + 4 * (100vw - 375px) / 1545, 18px);
  }
  .fs-16 {
    font-size: min(14px + 2 * (100vw - 375px) / 1545, 16px);
  }
  .fs-14 {
    font-size: min(12px + 2 * (100vw - 375px) / 1545, 14px);
  }
  .fs-12 {
    font-size: min(12px + 0 * (100vw - 375px) / 1545, 12px);
  }
  /* cyrillic-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRzS7mw9c.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRxy7mw9c.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format("woff2");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
}
.__burger_icon {
  --color: #1E88E5;
  display: none;
  font-size: 1.5em;
  width: 32px;
  height: 32px;
  overflow: hidden;
  z-index: 10;
}
@media (max-width: 900px) {
  .__burger_icon {
    display: block;
  }
}
.__burger_icon span {
  display: block;
  position: relative;
  width: 32px;
  height: 3px;
  left: 0;
  background-color: var(--color);
  transition: all 0.2s ease;
}
.__burger_icon span:nth-child(1) {
  position: relative;
  top: 5px;
}
.__burger_icon span:nth-child(2) {
  position: relative;
  top: 11px;
}
.__burger_icon span:nth-child(3) {
  position: relative;
  top: 17px;
}
.__burger_icon.open span {
  --color: #fff;
}
.__burger_icon.open span:nth-child(1) {
  position: relative;
  top: 0.45em;
  transform: rotate(45deg);
}
.__burger_icon.open span:nth-child(2) {
  position: relative;
  transform: translate(-2em);
}
.__burger_icon.open span:nth-child(3) {
  position: relative;
  top: 0.25em;
  transform: rotate(-45deg);
}

.header-icon.open path {
  fill: #fff;
}

.__extra_buttons {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1E88E5;
  z-index: 0;
  gap: 1.75rem;
  align-items: end;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  color: #F5F7FA;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  max-width: 100%;
  height: 100%;
  justify-content: start;
}
.__extra_buttons.open {
  visibility: visible;
  opacity: 1;
}

* {
  font-family: "Inter";
}

html {
  background-color: #F8F9FA;
}

main {
  display: flex;
  flex-grow: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 1.5em;
  /* overflow: hidden; */
}

@media (min-width: 600px) {
  .wrapper {
    padding: 0 4vw;
  }
}
@media (min-width: 1900px) {
  .wrapper {
    padding: 0 4em;
  }
}
header {
  margin-top: 20px;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content__logo {
  transition: 0.3s;
}
.header-content__logo:hover {
  scale: 1.05;
}
.header-content__card {
  border-radius: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 530px;
}
@media (max-width: 900px) {
  .header-content__card {
    display: none;
  }
}
.header-content__rating {
  border-radius: 30px;
  padding: 8px 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 140%;
  border: 1px solid #fff;
  transition: 0.3s;
}
.header-content__rating:hover {
  background-color: #F0F4F9;
  border: 1px solid #1E88E5;
}
.header-content__about {
  border-radius: 30px;
  padding: 8px 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 140%;
  border: 1px solid #fff;
  transition: 0.3s;
}
.header-content__about:hover {
  background-color: #F0F4F9;
  border: 1px solid #1E88E5;
}
.header-content__notifications {
  border-radius: 30px;
  padding: 8px 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 140%;
  border: 1px solid #fff;
  transition: 0.3s;
}
.header-content__notifications:hover {
  background-color: #F0F4F9;
  border: 1px solid #1E88E5;
}
.header-content__profile {
  border-radius: 30px;
  padding: 8px 24px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 140%;
  border: 1px solid #fff;
  transition: 0.3s;
}
.header-content__profile:hover {
  background-color: #F0F4F9;
  border: 1px solid #1E88E5;
}

footer {
  background-color: #212121;
  padding: 64px 0;
}
@media (max-width: 900px) {
  footer {
    padding: 48px 0;
  }
}

.footer-content__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
@media (max-width: 900px) {
  .footer-content__buttons {
    justify-content: space-between;
    gap: 10px;
  }
}
.footer-content__link {
  color: #F6F6F6;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 30px;
  border: 2px solid #FFF;
  padding: 8px 24px;
  transition: 0.3s;
}
.footer-content__link svg path {
  transition: 0.3s;
}
.footer-content__link:hover {
  background-color: #FFF;
  color: #212121;
}
.footer-content__link:hover svg path {
  fill: black;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F6F6F6;
  margin-bottom: 40px;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .questions {
    flex-direction: column;
    align-items: start;
    gap: 12px;
    margin-bottom: 20px;
  }
}
.questions__mail {
  display: flex;
  gap: 7px;
}
.questions a {
  font-weight: 700;
  color: #F6F6F6;
}
.questions a:hover {
  text-decoration: underline;
}

.footer-botom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F6F6F6;
  margin-top: 30px;
}
.footer-botom__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 60px 0 30px 0;
  gap: 20px;
}
@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
.main__content {
  max-width: 750px;
  display: flex;
  flex-direction: column;
}
.main__title {
  text-transform: uppercase;
  font-weight: 500;
  color: #1E88E5;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main__title {
    margin-bottom: 10px;
  }
}
.main__text {
  margin-bottom: auto;
  max-width: 640px;
}
.main__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #1E88E5;
  transition: 0.3s;
}
@media (max-width: 900px) {
  .main__link {
    display: none;
  }
}
.main__link svg {
  transition: 0.3s;
}
.main__link:hover svg {
  transform: translateY(-5px);
}
.main__img {
  aspect-ratio: 304/284;
  max-width: 304px;
  width: 100%;
}
.main__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .main__img {
    display: none;
  }
}

.mob {
  display: none;
}
.mob__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #1E88E5;
  white-space: nowrap;
  transition: 0.3s;
}
.mob__img {
  aspect-ratio: 304/284;
  max-width: 304px;
  width: 100%;
}
.mob__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 900px) {
  .mob {
    display: flex;
    gap: 1rem;
    align-items: end;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=styles.css.map */
